<%= form_for(@article) do |f| %>
  <div class="item">
    <%= f.text_field :title %>
  </div>
  <%= f.text_area :content, :size => "100x100" %>
  <%= f.submit submit_text, :class => 'input_submit' %>
<% end %>
