body {
  background: url("bg.png") repeat-x scroll 0 0 #FFFFFF;
  margin: 0;
  text-align: center;
  }
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: YanoneKaffeesatzRegular,Arial,Helvetica,sans-serif;
  color: #111111;
  }
#container {
  margin: 0 auto;
  width: 800px;
  }
#footer {
  margin: 20px 0;
  }
.input_default {
  margin: 10px 0;
  border-width: 0 0 2px 0;
  border-bottom-color: Olive;
  padding: 0;
  font-size: 16px;
  color: LightGrey;
  }
.input_submit {
  border: 1px solid #528641;
  height: 27px;
  padding: 5px 16px;
  color: #fff;
  border: 1px solid #528641;
  background-color: #3fa156;
  -webkit-border-radius: 3px; /* 兼容老的firefox */
  border-radius: 3px;
  }
